

body {
    background-color: #000000);
  }
  
  h1 {
    font-family: 'Merriweather', serif;
    color: #ffffff;
    margin-left: 20px;
  }

  p {
    font-family: 'Merriweather', serif;
    color: #ffffff;
    margin-left: 20px;
  }
